<!Doctype html>
<html>
<head>
    <?php //$page = ($page)?' - '.$page:'' ?>
    <title>Mon Site</title>
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
    <header>
        <div class="conteneur">
            <span>
                <a href="/" title="Mon Site">MonSite.com</a>
            </span>
            <nav>
                <a href="">Connexion</a>
                <a href="">Inscription</a>
                <a href="">Profil</a>
                <a href="">Panier</a>
                <a href="/boutique">Boutique</a>
        </nav>
    </div>
</header>
<p>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</p>
<footer>
    <div class="conteneur">
        {{ "now" |date('Y')  }} - Tous droits reservés.
    </div>
</footer>
</body>
</html>
